<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Bmazon</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="main-nav">
        <h1>Bmazon</h1>
        <nav>
            <script>
            const auth = document.cookie?.split(';')[1]?.split("-")[1];
            if(auth === "true"){
                document.write(`<a  href="/cart">Cart</a>`);
                document.write(`<a  href="/logout">Logout</a>`);
            }
            else{
                document.write(`<a  href="/login">Login</a>`);
                document.write(`<a  href="/signup">Sign up</a>`);
            }
            document.write(`<a  href="/logout">Admin</a>`);
            </script>
        </nav>
    </nav>
    <header class="main-header">
    </header>

    <section class="products">
        <h1>Featured Products</h1>
    </section>
</body>
</html>